<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> | Media Uploader Service</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link
    href="https://unpkg.com/filepond/dist/filepond.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Toastify CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
  />
  <!-- Toastify JS -->
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
