<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> | Media Uploader Service</title>
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- Filepond CSS -->
  <link
    href="https://unpkg.com/filepond/dist/filepond.min.css"
    rel="stylesheet"
  />

  <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
  />

  <!-- FilePond JS -->
  <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

  <!-- Video JS CSS -->
  <link
    href="https://unpkg.com/video.js@7/dist/video-js.min.css"
    rel="stylesheet"
    />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@2.0.0/dist/videojs-hls-quality-selector.min.css">

  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Toastify CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
  />
  <!-- Toastify JS -->
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <!-- Video JS -->
  <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@2.0.0/dist/videojs-hls-quality-selector.min.js"></script>
</head>
