<header class="bg-blue-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <h1 class="text-2xl font-bold">
      <a href="/" class="hover:underline">Media Processor</a>
    </h1>

    <!-- Navigation Links -->
    <nav>
      <ul class="flex space-x-4">
        <li>
          <!-- show auth user name if available -->
          <% if (user) { %>
          <span class="text-sm">Welcome, <%= user.username %></span>
          <% } %>
        </li>
        <li><a href="/upload" class="hover:underline">Upload Media</a></li>
        <li>
          <a
            href="http://localhost:16686"
            class="hover:underline"
            target="_blank"
            >Jaeger Tracer</a
          >
        </li>
        <% if (user) { %>
        <li><a href="/auth/logout" class="hover:underline">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login" class="hover:underline">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
