<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <title><%= title %></title>
  </head>
  <body>
    <div class="mx-auto w-4/5 p-12">
      <h2>Upload and Process your files.</h2>
    </div>
  </body>
</html>
