<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navigation.ejs') %>

    <main class="mx-auto w-4/5 p-12">
      <h2>Media Upload Service</h2>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
