<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
    <%- include('partials/navigation.ejs') %>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto p-6">
      <section class="mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">
          Upload Your Video File to Transcode & Transcribe
        </h2>

        <!-- FilePond Input -->
        <input type="file" class="filepond mt-6" name="file" multiple />
      </section>
    </main>

    <%- include('partials/footer.ejs') %>

    <!-- FilePond JS -->
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

    <script>
      const inputElement = document.querySelector('input[type="file"]');
      const pond = FilePond.create(inputElement, {
        credits: false,
        server: {
          url: "/upload",
          revert: (uniqueFileId, load, error) => {
            load();
          },
        },
      });
    </script>
  </body>
</html>
