<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navigation.ejs') %>

    <main class="mx-auto w-4/5 p-12">
      <h1>Upload Your Files</h1>

      <!-- File Input -->
      <input type="file" class="filepond mt-6" name="file" multiple />
    </main>

    <%- include('partials/footer.ejs') %>

    <!-- FilePond JS -->
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

    <script>
      const inputElement = document.querySelector('input[type="file"]');
      const pond = FilePond.create(inputElement, {
        credits: false,
        server: {
          url: "/upload",
          revert: (uniqueFileId, load, error) => {
            load();
          },
        },
      });
    </script>
  </body>
</html>
